@import "tailwindcss";

@font-face {
    src: url("/softpoint/assets/fonts/Poppins-Regular.ttf");
    font-family: Poppins;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    src: url("/softpoint/assets/fonts/Poppins-Medium.ttf");
    font-family: Poppins;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    src: url("/softpoint/assets/fonts/Poppins-SemiBold.ttf");
    font-family: Poppins;
    font-weight: 600;
    font-display: swap;
}

@font-face {
    src: url("/softpoint/assets/fonts/Poppins-Bold.ttf");
    font-family: Poppins;
    font-weight: 700;
    font-display: swap;
}

body {
    font-family: Poppins;
    color: #021206;
}

/* Marquee styles */
.marquee {
    padding-top: 3rem;
    padding-bottom: 3rem;
    background: #f6fcfa;
    --gap: 3rem;
    position: relative;
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
}

.marquee__content {
    flex-shrink: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll 10s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(-100% - var(--gap)));
    }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 125px;
}
